<p style="text-align: center; font-size: 100px; color: white; font-weight: bold;">INDEX OF ECONOMIC FREEDOM</p>
<center><img src="heritage.png"></center>
<center>[En línea: www.northafricapost.com]</center>
<p style="text-align: center; color:white; font-size:50px;">COMPLETE EDA AND MACHINE LEARNING MODEL</p>

<p style="color:white; font-size:40px;">DATA PREPROCESING</p>

In [2]:
# librerias básicas
import numpy as np 
import pandas as pd
from math import sqrt

# ML
import sklearn as sklearn
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score, explained_variance_score, mean_absolute_percentage_error
import pycaret
from pycaret.regression import *

# importamos librerias graficación 
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots
pio.templates.default = 'plotly_dark'
import folium
import matplotlib.pyplot as plt
import streamlit as st

# quitamos warnings que nos puedan aparecer en las celdas
import warnings
warnings.filterwarnings('ignore')

In [220]:
# leemos el dataframe y lo mostramos
df = pd.read_csv('freedomeconomicraw.csv', encoding='ISO-8859-1')
df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [221]:
# tamaño del dataframe
df.shape

(186, 34)

In [222]:
# mostramos columnas del dataframe
df.columns

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2019 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ', 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [223]:
# principal información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CountryID                    186 non-null    int64
 1   Country Name                 186 non-null    object
 2   WEBNAME                      186 non-null    object
 3   Region                       186 non-null    object
 4   World Rank                   180 non-null    float64
 5   Region Rank                  180 non-null    float64
 6   2019 Score                   180 non-null    float64
 7   Property Rights              185 non-null    float64
 8   Judical Effectiveness        185 non-null    float64
 9   Government Integrity         185 non-null    float64
 10  Tax Burden                   180 non-null    float64
 11  Gov't Spending               183 non-null    float64
 12  Fiscal Health                183 non-null    float64
 13  Business Freedom             185 non-null    float64
 14  Labor Freedom                184 non-null    float64
 15  Monetary Freedom             184 non-null    float64
 16  Trade Freedom                182 non-null    float64
 17  Investment Freedom           184 non-null    float64
 18  Financial Freedom            181 non-null    float64
 19  Tariff Rate (%)              182 non-null    float64
 20  Income Tax Rate (%)          183 non-null    float64
 21  Corporate Tax Rate (%)       183 non-null    float64
 22  Tax Burden % of GDP          179 non-null    float64
 23  Gov't Expenditure % of GDP   182 non-null    float64
 24  Country                      186 non-null    object
 25  Population (Millions)        186 non-null    float64
 26  GDP (Billions, PPP)          185 non-null    object
 27  GDP Growth Rate (%)          184 non-null    float64
 28  5 Year GDP Growth Rate (%)   183 non-null    float64
 29  GDP per Capita (PPP)         184 non-null    object
 30  Unemployment (%)             181 non-null    float64
 31  Inflation (%)                182 non-null    float64
 32  FDI Inflow (Millions)        181 non-null    object
 33  Public Debt (% of GDP)       182 non-null    float64
dtypes: float64(26), int64(1), object(7)
memory usage: 49.5+ KB

In [224]:
# buscamos dentro de las columnas tipo objetc si hay alguna que debemos convertir a tipo float o int
df.select_dtypes(include='object')

,Country Name,WEBNAME,Region,Country,"GDP (Billions, PPP)",GDP per Capita (PPP),FDI Inflow (Millions)
0,Afghanistan,Afghanistan,Asia-Pacific,Afghanistan,$69.6,"$1,958",53.9
1,Albania,Albania,Europe,Albania,$36.0,"$12,507","1,119.1"
2,Algeria,Algeria,Middle East and North Africa,Algeria,$632.9,"$15,237","1,203.0"
3,Angola,Angola,Sub-Saharan Africa,Angola,$190.3,"$6,753","-2,254.5"
4,Argentina,Argentina,Americas,Argentina,$920.2,"$20,876","11,857.0"
...,...,...,...,...,...,...,...
181,Venezuela,Venezuela,Americas,Venezuela,$380.7,"$12,114",-68.0
182,Vietnam,Vietnam,Asia-Pacific,Vietnam,$647.4,"$6,913","14,100.0"
183,Yemen,Yemen,Middle East and North Africa,Yemen,$38.6,"$1,287",-269.9
184,Zambia,Zambia,Sub-Saharan Africa,Zambia,$68.9,"$3,996","1,091.2"
185,Zimbabwe,Zimbabwe,Sub-Saharan Africa,Zimbabwe,$34.0,"$2,283",289.4

In [225]:
# hacemos una función para convertir los valores a string y además eliminar ciertos elementos ('$%')
def clean_and_convert_to_float(value):
    """ clean_and_convert_to_float convierte los valores a tipo float y quita str 
    :param value: valor a ser limpiado y convertido a float.
    :return: valor convertido a tipo float sin nigún simbolo
    """
    cleaned_value = ''.join(filter(str.isdigit, str(value))) # eliminamos todos los caracteres que no sean números o puntos decimales
    if not cleaned_value: # verificamos si la cadena resultante es vacía
        return None
    float_value = float(cleaned_value) # convertimos la cadena a un número float
    return float_value

# columnas a las que vamos a quitar los elementos que sobran
columns_to_clean = ['Population (Millions)', 'GDP (Billions, PPP)', 
                    'GDP per Capita (PPP)', 'Unemployment (%)', 'FDI Inflow (Millions)']

# aplicamos la función de limpieza y conversión a cada columna en la lista con un bucle for
for col in columns_to_clean:
    df[col] = df[col].apply(lambda x: clean_and_convert_to_float(x))

In [226]:
# convertir estas columnas a float ['Population (Millions)', 'GDP (Billions, PPP)',	'GDP per Capita (PPP)',	'Unemployment (%)', 'FDI Inflow (Millions)']
df[['Population (Millions)', 'GDP (Billions, PPP)', 
    'GDP per Capita (PPP)', 
    'Unemployment (%)', 'FDI Inflow (Millions)']] = df[['Population (Millions)', 'GDP (Billions, PPP)', 
                                                        'GDP per Capita (PPP)', 'Unemployment (%)', 
                                                        'FDI Inflow (Millions)']].astype(float)

In [227]:
# porcentaje de nulos 
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending = False)

Tax Burden % of GDP            3.763441
Tax Burden                     3.225806
World Rank                     3.225806
Region Rank                    3.225806
2019 Score                     3.225806
FDI Inflow (Millions)          2.688172
Financial Freedom              2.688172
Unemployment (%)               2.688172
Gov't Expenditure % of GDP     2.150538
Trade Freedom                  2.150538
Public Debt (% of GDP)         2.150538
Inflation (%)                  2.150538
Tariff Rate (%)                2.150538
Gov't Spending                 1.612903
Fiscal Health                  1.612903
Income Tax Rate (%)            1.612903
5 Year GDP Growth Rate (%)     1.612903
Corporate Tax Rate (%)         1.612903
GDP Growth Rate (%)            1.075269
GDP per Capita (PPP)           1.075269
Investment Freedom             1.075269
Monetary Freedom               1.075269
Labor Freedom                  1.075269
GDP (Billions, PPP)            0.537634
Business Freedom               0.537634
Government Integrity           0.537634
Judical Effectiveness          0.537634
Property Rights                0.537634
Country Name                   0.000000
Country                        0.000000
Population (Millions)          0.000000
Region                         0.000000
WEBNAME                        0.000000
CountryID                      0.000000
dtype: float64

In [228]:
# sacamos un listado de las columnas con nulos
def columns_with_nulls(data):
    """columns_with_nulls recorre el df y hace un listado de las columnas con nulos
    :param data: dataframe
    :return: listado de columnas con nulos
    """
    columns_with_nulls = data.columns[data.isnull().any()].tolist()
    return columns_with_nulls
columns_with_nulls(df)

['World Rank',
 'Region Rank',
 '2019 Score',
 'Property Rights',
 'Judical Effectiveness',
 'Government Integrity',
 'Tax Burden',
 "Gov't Spending",
 'Fiscal Health',
 'Business Freedom',
 'Labor Freedom',
 'Monetary Freedom',
 'Trade Freedom',
 'Investment Freedom ',
 'Financial Freedom',
 'Tariff Rate (%)',
 'Income Tax Rate (%)',
 'Corporate Tax Rate (%)',
 'Tax Burden % of GDP',
 "Gov't Expenditure % of GDP ",
 'GDP (Billions, PPP)',
 'GDP Growth Rate (%)',
 '5 Year GDP Growth Rate (%)',
 'GDP per Capita (PPP)',
 'Unemployment (%)',
 'Inflation (%)',
 'FDI Inflow (Millions)',
 'Public Debt (% of GDP)']

In [229]:
# al tener pocos valores nulos, aplicamos una función que convierta los nulos en sus 5 KNN más cercanos
def fill_nulls_with_knn(df, columns_with_nulls):
    """fill_nulls_with_knn utiliza para reemplazar los valores nulos en un DataFrame con los 5 valores más cercanos según el algoritmo KNN.
    :param df: DataFrame que se desea modificar
    :columns_with_nulls: Lista de columnas en el DataFrame que contienen valores nulos.
    :return: nuevo DataFrame en el que se han reemplazado los valores nulos
    """
    df_filled = df.copy()
    for col in columns_with_nulls:
        imputer = KNNImputer(n_neighbors=5) 
        df_filled[col] = imputer.fit_transform(df_filled[[col]]) 
    return df_filled

# creamos la lista de columnas
columns_with_nulls = ['World Rank', 'Region Rank', '2019 Score', 'Property Rights', 
                    'Judical Effectiveness', 'Government Integrity', 'Tax Burden', "Gov't Spending",
                    'Fiscal Health', 'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
                    'Trade Freedom', 'Investment Freedom ', 'Financial Freedom', 'Tariff Rate (%)',
                    'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
                    "Gov't Expenditure % of GDP ", 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
                    '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)', 'Unemployment (%)',
                    'Inflation (%)', 'FDI Inflow (Millions)','Public Debt (% of GDP)']

# aplicamos la función para nuestro df
df = fill_nulls_with_knn(df, columns_with_nulls)

In [230]:
# eliminamos algunas columnas que no nos hacen falta y renombramos otras para su mejor lectura
df.drop(columns=['WEBNAME'], inplace=True)
df.drop(columns=['CountryID'], inplace=True)
df.drop(columns=['Country'], inplace=True)
df.rename(columns={'Country Name':'Country'}, inplace=True)
df.rename(columns={'GDP (Billions, PPP)':'GDP (Billions, PPP)$'}, inplace=True)
df.rename(columns={'GDP per Capita (PPP)':'GDP per Capita (PPP)$'}, inplace=True)
df.rename(columns={'Investment Freedom ':'Investment Freedom'}, inplace=True)
df.rename(columns={"Gov\'t Expenditure % of GDP ":"Gov\'t Expenditure % of GDP"}, inplace=True)

In [231]:
# mostramos una lista de los paises los cuales tendremos que comparar con nuestro otro dataset de longitudes y latitudes
list(df['Country'])

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Democratic Republic of the Congo',
 'Congo, Republic of',
 'Costa Rica',
 "Cï¿½te d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North ',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sï¿½o Tomï¿½ and Prï¿½ncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan ',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [232]:
# añadimos un dataframe con las coordenadas de los paises para posteriormente graficarlos
coord = pd.read_excel('Latlon.xlsx')
coord

        Latitude   Longitude
0     33.9391100   67.709953
1     41.1533320   20.168331
2     28.0338860    1.659626
3    -11.2026920   17.873887
4     –38.416097  –63.616672
..           ...         ...
181    6.4237500   –66.58973
182   14.0583240  108.277199
183   15.5527270   48.516388
184  -13.1338970   27.849332
185  -19.0154380   29.154857

[186 rows x 2 columns]

In [233]:
# veemos el tipo de dato que nos vamos a encontrar
coord.dtypes

Latitude     object
Longitude    object
dtype: object

In [234]:
# preprocesamos los detalles que nos encomtramos dentro del df coord 
def process_column(df, column_name):
    """process_column remplaza los signos guiones y los cambia por simbolo de restar
    :param df: simbolo de resta
    :column_name: nombre de la columna que se ve afectada
    :return: df modificado
    """
    df[column_name] = df[column_name].str.replace("–", "-")
    return df

# aplicamos la función
coord = process_column(coord, 'Latitude')
coord = process_column(coord, 'Longitude')

In [235]:
# pasamos los valores a tipo float para poder luego graficar 
coord['Latitude'] = coord['Latitude'].astype(float)
coord['Longitude'] = coord['Longitude'].astype(float)

In [236]:
# vemos que dan problemas
coord.isnull().sum()

Latitude     1
Longitude    1
dtype: int64

In [237]:
# buscamos los valores nulos
coord[coord.isnull().any(axis=1)]

    Latitude  Longitude
41       NaN        NaN

In [238]:
# añadimos los valores nulos que nos faltan a nuestro df de coordenadas
coord['Longitude'].fillna(15.5000000, inplace=True)
coord['Latitude'].fillna(45.1667000, inplace=True)

In [239]:
# ya que no tenemos ninguna columna en común para hacer un merge, hacemos un concat
df = pd.concat([df, coord], axis=1)

In [240]:
# mostramos el dataframe con las nuevas columnas
df.head()

,Country,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,...,"GDP (Billions, PPP)$",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP)$,Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP),Latitude,Longitude
0,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,80.3,...,696.0,2.5,2.9,1958.0,88.0,5.0,539.0,7.3,33.939110,67.709953
1,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,73.9,...,360.0,3.9,2.5,12507.0,139.0,2.0,11191.0,71.2,41.153332,20.168331
2,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,48.7,...,6329.0,2.0,3.1,15237.0,100.0,5.6,12030.0,25.8,28.033886,1.659626
3,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,80.7,...,1903.0,0.7,2.9,6753.0,82.0,31.7,22545.0,65.3,-11.202692,17.873887
4,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,49.5,...,9202.0,2.9,0.7,20876.0,87.0,25.7,118570.0,52.6,-38.416097,-63.616672

In [241]:
# guardamos el dataframe nuevo para poder trabajar con él más comodamente en un futuro
df.to_csv("freedomeconomicindex.csv", index=False)